<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Working Title</title>
    <style type="text/css">
#include src/index.css
    </style>
    <script>
#include src/fileSaver.js
    </script>
  </head>

  <body>
    <div id="case">
      <div id="bezel">
        <div id="terminal">
          <p id="l0">If you can read this, your browser is not recent enough to run</p>
          <p id="l1">a Stone computer :(</p>
          <p id="l2"></p>
          <p id="l3">Please upgrade to the latest version of Google Chrome.</p>
          <p id="l4"></p>
          <p id="l5"></p>
          <p id="l6"></p>
          <p id="l7"></p>
          <p id="l8"></p>
          <p id="l9"></p>
          <p id="l10"></p>
          <p id="l11"></p>
          <p id="l12"></p>
          <p id="l13"></p>
          <p id="l14"></p>
          <p id="l15"></p>
          <p id="l16"></p>
          <p id="l17"></p>
          <p id="l18"></p>
          <p id="l19"></p>
          <p id="l20"></p>
          <p id="l21"></p>
          <p id="l22"></p>
          <p id="l23"></p>
          <p id="l24"></p>
          <p id="l25"></p>
          <p id="l26"></p>
          <p id="l27"></p>
          <p id="l28"></p>
          <p id="l29"></p>
          <p id="l30"></p>
          <p id="l31"></p>
        </div>
      </div>
      <div id="controls">
        <div id="switch">0/1</div>
        <div id="slot"></div>
      </div>
    </div>

    <script id="files">

    var FILES = {}

    </script>

    <script>
#include src/formatLineAsHtml.js
    </script>

    <script>

    document.getElementById('slot').addEventListener('click', function() {
      document.getElementById('files').innerText =
        'var FILES = ' + JSON.stringify(FILES)

      var pageData = document.documentElement.outerHTML
      var blob = new Blob([pageData], {type: 'text/html'})
      saveAs(blob, 'saved.html')
    })

    var state = {
      __SYSTEM__: {
        keyboard: {
          lastKeyPressed: null,
          keysHeld: []
        },
        screen: [],
        random: Math.random(),
        now: new Date(),
        files: FILES
      }
    }

    window.addEventListener('keydown', function(event) {
      var kb = state.__SYSTEM__.keyboard
      var keyCode = event.keyCode

      if (contains(kb.keysHeld, keyCode)) {
        return
      }

      kb.lastKeyPressed = keyCode
      addUnique(kb.keysHeld, keyCode)
      callMain({type: 'keydown', keyCode: keyCode})
    })

    window.addEventListener('keyup', function(event) {
      var kb = state.__SYSTEM__.keyboard
      var keyCode = event.keyCode

      if (!contains(kb.keysHeld, keyCode)) {
        return
      }

      remove(kb.keysHeld, keyCode)
      callMain({type: 'keyup', keyCode: keyCode})
    })

    function redraw() {
      var lines = document.querySelectorAll('#terminal p')
      for (var i = 0; i < lines.length; i++) {
        lines[i].innerText = state.__SYSTEM__.screen[i] || ''
      }
    }

    function callMain(event) {
      state.__SYSTEM__.random = Math.random()
      state.__SYSTEM__.now = new Date()
      state = main(state, event)
      redraw()
    }

    function addUnique(list, item) {
      if (!contains(list, item)) {
        list.push(item)
      }
    }

    function contains(list, item) {
      return list.indexOf(item) >= 0
    }

    function remove(list, item) {
      var idx = list.indexOf(item)
      if (idx < 0) {
        return
      }
      // duplicate the item in last position to the index
      // of the item we want to remove.
      // Then truncate the list to remove the duplicate item.
      list[idx] = list[list.length - 1]
      list.length = list.length - 1
    }

    function main(state, event) {
      state.__SYSTEM__.screen = [
        '=== Druidic Stone v0.1 =========================================',
        '',
        "Nice! You've just acquired a brand-new virtual computer.",
        "Unfortunately, the only thing installed on it is a program that",
        "just prints this text. Unless you're ready to sling some",
        [{ color: 'red', text: "JavaScript"}, "you probably want to get a version that has an"],
        "operating system installed. See:",
        "",
        "https://github.com/druidic/MOSS",
        "",
        "Otherwise, you can modify the main() function in this HTML file",
        "to write your own boot program."
      ]

      return state
    }

    callMain({type: 'boot'})

    </script>
  </body>
</html>
